.topnav {
    background-color: aliceblue;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

body {
    background: lightblue;
    color: darkslategrey;
}
.form {
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: inherit;
}
.origin {
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: inherit;
}
.destination {
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: inherit;
}
.head {
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: inherit;
}
.stop{
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: inherit;
}
.stop li {
    font-size: 40px;
}
.foot {
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: inherit;
}