.topnav {
    background-color: aliceblue;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

body {
    background: lightblue;
    color: darkslategrey;
    background-image: url("/static/img/road2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.form {
    border: 2px solid darkslategray;
    background-color: aliceblue;
    border-style: outset;
    padding: 14px;
    margin: 8px;
    background-image: url("/static/img/road.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.origin {
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: 14px;
    margin: 8px;
}
.destination {
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: 14px;
    margin: 8px;
}
.head {
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: 14px;
    margin: 8px;
}
.stop{
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: 14px;
    margin: 8px;
}
.stop li {
    font-size: 40px;
}
.foot {
    border: 1px solid darkslategray;
    background-color: aliceblue;
    padding: 14px;
    margin: 8px;
}