<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <link rel="stylesheet" href="/static/style1.css" type="text/css">

    <title>Shot Gun Guide</title>
</head>
<div class="topnav">
    <a class="active"
       href="/">Home</a>
    <a href="/trip">Trip Overview</a>
    <a href="/city">Stops</a>
</div>
<body>

    {% block content %}   <!-- A block that the child template will fill in -->

    {% endblock %}

</body>
</html>