{% extends "base.html" %}

{% block content %}

<div class="head">
    <h1>Welcome to Shot Gun Guide</h1>
</div>

    <div class="form">
        <h2>Enter a city:</h2>

        <form action="/trip" method="GET">

            Origin: <input type="text" name="origin"><br>
            Destination: <input type="text" name="destination"><br>
            What do you want to do when you get there?<br>
            <input type="radio" name="activity" value="restaurant" checked="checked"/>Restaurant
            <input type="radio" name="activity" value="museum" checked="checked"/>Museum
            <input type="radio" name="activity" value="zoo" checked="checked"/>Zoo
            <input type="radio" name="activity" value="park" checked="checked"/>Park
            <input type="radio" name="activity" value="mall" checked="checked"/>Shopping Mall
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}