{% extends "base.html" %}

{% block content %}
<div class="head">
    <h1 id="top">TRIP INFORMATION</h1>
    <h2>Total Distance: {{ distance }}</h2>
    <h2>Total Travel Time: {{ time }}</h2>
</div>
    <hr/>
<div class="origin">
    <h2>Starting Point: {{ city1 }}</h2>
        <figure>
            <img src="{{ image1 }}" width="600" height="400">
            <p><figcaption>{{ city1 }}</figcaption></p>
        </figure>
        <figure>
            <img src="{{ url1 }}">
            <p><figcaption>Map of {{ city1 }}</figcaption></p>
        </figure>
    <br>
        <h3>Stop Details</h3>
        <table>
            <tr>
                <th scope="row">CURRENT WEATHER</th>
                <td>{{ key1 }}: {{ description1 }}</td>
            </tr>
            <tr>
                <th scope="row">CURRENT TEMPERATURE</th>
                <td>{{ temp1 }} F</td>
            </tr>
            <tr>
                <th scope="row">SOMETHING TO DO</th>
                <td><a href="{{ google1 }}" target="_blank">{{ todo1 }}</a></td>
            </tr>
        </table>
    <hr/>
</div>
<div class="destination">
    <h2>Final Destination: {{ city2 }}</h2>
    <figure>
        <img src="{{ image2 }}" width="600" height="400">
        <p><figcaption>{{ city2 }}</figcaption></p>
    </figure>
    <figure>
        <img src="{{ url2 }}">
        <p><figcaption>Map of {{ city2 }}</figcaption></p>
    </figure>
    <br>
    <h3>Stop Details</h3>
    <table>
        <tr>
            <th scope="row">CURRENT WEATHER</th>
            <td>{{ key2 }}: {{ description2 }}</td>
        </tr>
        <tr>
            <th scope="row">CURRENT TEMPERATURE</th>
            <td>{{ temp2 }} F</td>
        </tr>
        <tr>
            <th scope="row">SOMETHING TO DO</th>
            <td><a href="{{ google2 }}" target="_blank">{{ todo2 }}</a></td>
        </tr>
    </table>
    <hr/>
</div>

    <form action="/city">
        <input type="submit" value="Get Stop Details!" />
        <input type="hidden" name="origin" value="{{ city1 }}"/>
        <input type="hidden" name="destination" value="{{ city2 }}"/>
    </form>
    <h2><a href="#top">Top</a></h2>

<!--
<h2>Here is where you will stop along the way:</h2>
    <figure>
    <img src="{{ mainmap }}">
    <p><figcaption>Trip Overview</figcaption></p>
    </figure>

    <ol>
    {%  for stop in stops %}
        <li>{{ stop.name }}</li>
        <figure>
            <img src="{{ stop.url }}">
            <p><figcaption>Map of {{ stop.name }}</figcaption></p>
        </figure>
        <h3>Stop Details</h3>
        <table>
            <tr>
                <th scope="row">CURRENT WEATHER</th>
                <td>{{ stop.key }}: {{ stop.description }}</td>
            </tr>
            <tr>
                <th scope="row">CURRENT TEMPERATURE</th>
                <td>{{ stop.temp }} F </td>
            </tr>
            <tr>
                <th scope="row">SOMETHING TO DO</th>
                <td><a href="{{ stop.google }}" target="_blank">{{ stop.todo }}</a></td>
            </tr>
        </table>
    <hr/>
    {% endfor %}
    </ol>

<strong><h1>Enjoy your trip!</h1></strong>
-->

{%  endblock %}