{% extends "base.html" %}

{% block content %}

<h1 id="top">HERE'S YOUR ROAD TRIP PLAN!</h1>
<figure>
    <img src="{{ mainmap }}">
    <p><figcaption>Trip Overview</figcaption></p>
</figure>
    <hr/>

<h2>Starting Point: {{ city1 }}</h2>
    <img src="{{ image1 }}" width="600" height="400"><br>
    <img src="{{ url1 }}">
<br>
    <p>
    <b>Weather in {{ city1 }}</b> <br>
    -> {{ key1 }}: {{ description1 }} <br>
    <b>Current temperature:</b> {{ temp1 }} F <br>
    <b>Something to do:</b> <a href="{{ google1 }}" target="_blank">{{ todo1 }}</a>
    </p>
<hr/>

<h2>Final Destination: {{ city2 }}</h2>
    <img src="{{ image2 }}" width="600" height="400"><br>
    <img src="{{ url2 }}">
<br>
    <p>
    <b>Weather in {{ city2 }}</b> <br>
    -> {{ key2 }}: {{ description2 }} <br>
    <b>Current temperature:</b> {{ temp2 }} F <br>
    <b>Something to do:</b> <a href="{{ google2 }}" target="_blank">{{ todo2 }}</a>
    </p>
<hr/>
<a href="/city?origin={{ city1 }}&dest={{ city2 }}">GET TRIP DETAILS NOW!</a>


<h2>Here is where you will stop along the way:</h2>
    <figure>
    <img src="{{ mainmap }}">
    <p><figcaption>Trip Overview</figcaption></p>
    </figure>

    <ol>
    {%  for stop in stops %}
        <li>{{ stop.name }}</li>
        <img src="{{ stop.url }}">
        <p>
            <b>Weather in {{ stop.name }}</b> <br>
            -> {{ stop.key }}: {{ stop.description }} <br>
            <b>Temperature:</b> {{ stop.temp }} F <br>
            <b>Something to do here:</b> <a href="{{ stop.google }}" target="_blank">{{ stop.todo }}</a>
        </p>
    <hr/>
    {% endfor %}
    </ol>

<strong><h1>Enjoy your trip!</h1></strong>

    <a href="#top">Top</a>

{%  endblock %}